speechrecognition==3.10.0
pyaudio==0.2.13
pygame==2.5.2
gtts==2.5.1
numpy==1.26.4
pydub==0.25.1
requests==2.32.2
python-dotenv==1.0.1
python-dateutil==2.9.0.post0
thefuzz==0.22.1
python-levenshtein==0.25.1
torch==2.3.0
pvporcupine==3.0.2
spotipy==2.23.0
selenium==4.21.0
undetected-chromedriver==3.5.7
pycaw==20230429
comtypes==1.2.0
